
<div class="container">
  <div>
  <div class="col-md h4" *ngFor="let forecastday of weatherData?.forecast?.simpleforecast?.forecastday">
    <div>
      <div>
        <span>{{forecastday?.date?.weekday}}</span>
        <span>High: {{forecastday?.high.fahrenheit}}</span>
        <span>Low: {{forecastday?.low.fahrenheit}}</span>

      </div>
      <div>
        Expected Conditions: {{forecastday.conditions}}
        <span><img src="{{forecastday.icon_url}}"></span>
      </div>
    </div>
    <br>
  </div>
  </div>
</div>
