
<div class="container">
  <div class="col-md-7 h4" *ngFor="let forecastday of weatherData?.forecast?.simpleforecast?.forecastday; let i=index">
    <div>
      <div *ngIf="i === 0">
          <div>
            <p class="h2">Today's Forecast includes: {{state}},{{city}}</p>
            <div class="h3">
              <span>High: {{forecastday?.high.fahrenheit}}</span>
              <span>Low: {{forecastday?.low.fahrenheit}}</span>
              <span>Avg Humidity: {{forecastday.avehumidity}}%</span>
              <div *ngIf="forecastday.snow_allday.in > 0">
                <span>Expected Snow: {{forecastday.snow_allday.in}}</span>
              </div>
              <div>
                Expected Conditions: {{forecastday.conditions}}
                <span><img src="{{forecastday.icon_url}}"></span>
              </div>
            </div>
          </div>
        </div>
      <div *ngIf="i ===0 && forecastday.conditions !== 'Clear'" class="col-md-5">
        <h1>Current Radar</h1>
        <img id="radarImg" src="{{usedRadarUrl}}">
      </div>
    <div *ngIf="i !== 0">

      <div *ngIf="i ===1">
        <p>Daily Forecast:</p>
        <hr>
      </div>
        <div>
          <span>{{forecastday?.date?.weekday}}</span>
          <span>High: {{forecastday?.high.fahrenheit}}</span>
          <span>Low: {{forecastday?.low.fahrenheit}}</span>
          <span>Avg Humidity: {{forecastday.avehumidity}}%</span>
          </div>
          <div *ngIf="forecastday.snow_allday.in > 0">
            <span>Expected Snow: {{forecastday.snow_allday.in}}</span>
          </div>
          <div>
          Expected Conditions: {{forecastday.conditions}}
            <span><img src="{{forecastday.icon_url}}"></span>
          </div>
      </div>
    </div>
    <br>
  </div>
</div>

